@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.diagonal-bg {
    position: absolute;
    background-color: var(--bg-secondary);
    overflow: hidden;
    transform: rotate(-10deg);
    transform-origin: center;
    top: -20%;
    left: -50%;
    width: max(200%, 200px);
    height: 450px;
    z-index: -1;

}

:root {
    --bg-primary: #ffffff;
    --bg-secondary: #0891b2;

    font-size: 12px;
    font-family: "Roboto", "Playfair Display", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    max-width: 300px;
}
