* {
    margin: 0;
    padding: 0;
}

/*
    s = sidebar
    h = header
    c = content

    s h
    s c
*/

.main {
    display: grid;
    grid-template: 2fr 7fr / 1.2fr 5fr;
}

.sidebar {
    background-color: #1992d4;
    height: 100vh;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
}

.content {
    background-color: #e2e8f0;
    grid-column: 2 / 2;
}
