<h1 class="text-4xl font-bold text-text">Stock items</h1>
<%- include('../components/sort', {baseUrl: "/stocks", skipFirst: true, fields:[
    {ui:"Name", db:"item_name"}, 
    {ui:"Category",db:"category_name"},  
    {ui:"Company",db:"company_name"},  
    {ui:"Quantity",db:"quantity"},  
    {ui:"Price",db:"price"},  
    {ui:"Updated",db:"updated_at"}, 
]}) %>
<%- include('../components/stocksList', {stocks}) %>
<%- include('../components/pagination', {page, delta: 2, totalPages}) %>
