<h2>Create new message</h2>

<form action="/new" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s12 m6">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" class="validate">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <label for="message">Textarea</label>
            <textarea name="message" id="message" class="materialize-textarea"></textarea>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">
            Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

