.layout {
    min-height: 100vh;
}

.header {
    padding: 4px;
    margin: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: aliceblue;

    width: 100%;
    height: 42px;
}

.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;

    padding: 4px;
    margin: 0px;
    box-sizing: border-box;

    background-color: papayawhip;

    min-width: 225px;
    height: 100vh;

    z-index: 1000;
}

.sidebar-open {
    animation: slideInSidebar 300ms ease forwards;
}

.sidebar-closed {
    animation: slideOutSidebar 300ms ease forwards;
}

@keyframes slideInSidebar {
    from {
        transform: translateX(-225px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideOutSidebar {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-225px);
    }
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 999;
}

.overlay-show {
    opacity: 0.5;
}

.overlay-hide {
    opacity: 0;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    height: 42px;
}
