@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #ffffff;
    --bg-secondary: black;
    --text-color: #565656;

    font-size: 12px;
    font-family: "Roboto", "Playfair Display", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text-color);
}

main {
    font-family: "Playfair Display";
    display: flex;
    align-items: center;
    flex-direction: column;

    .diagonal-bg {
        position: absolute;
        background-color: var(--bg-secondary);
        overflow: hidden;
        transform: skewY(-10deg);
        transform-origin: center;
        top: -20%;
        width: 100vw;
        height: 450px;
        z-index: -1;
        box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
    }

    .hero {
        max-width: 90%;
        display: flex;
        flex-direction: column;

        .image-container {
            position: relative;
            width: 300px;
            margin: auto;

            img {
                width: 100%;
                height: auto;
            }

            .caption {
                position: absolute;
                bottom: 1%;
                width: 100%;
                color: white;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);

                p {
                    font-size: 4rem;
                }
            }
        }

        .about-me {
            padding: 5px;
            background-color: var(--bg-primary);

            h2 {
                text-align: center;
                font-size: 4rem;
                color: black;
            }
        }
    }

    .projects {
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        article:last-child {
            margin-bottom: 50px;
        }

        >h2 {
            text-align: center;
            font-size: 4rem;
            color: black;
            margin-bottom: 20px;
        }

        .project-card {
            max-width: 90%;
            min-height: 200px;
            background-color: white;
            margin-bottom: 20px;
            box-shadow:
                4px 0 6px rgba(0, 0, 0, 0.3),
                4px 4px 6px rgba(0, 0, 0, 0.3);

            display: flex;
            flex-direction: column;
            transition: border-color 0.2s ease, box-shadow 0.2s ease;


            img {
                height: 150px;
                width: 100%;
                object-fit: cover;
            }

            .project-header {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 5px 0;

                h2 {
                    text-align: center;
                    font-size: 2rem;
                    color: black;
                    display: inline;
                }

                a {
                    text-decoration: none;
                    color: black;
                    width: 1rem;
                }

                i {
                    width: 1rem;
                    font-size: 1rem;
                }

                i:hover {
                    font-size: 1.5rem;
                }
            }


            p {
                padding: 10px;
                margin-bottom: 5px;
            }
        }

        .project-card:hover {
            box-shadow:
                4px 0 6px rgba(0, 0, 0, 0.6),
                4px 4px 6px rgba(0, 0, 0, 0.6);
            cursor: pointer;
        }

    }
}

footer {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    color: white;
    background-color: var(--bg-secondary);

    text-align: center;

    h2 {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .footer-address {
        text-align: left;
        margin-bottom: 5px;

        p {
            font-size: 1rem;
        }
    }

    .footer-contact {
        text-align: left;
        margin-bottom: 5px;

        p {
            font-size: 1rem;
        }
    }

    .footer-icons {
        margin-bottom: 5px;

        i {
            font-size: 2rem;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    main {
        max-width: 980px;
        margin: 0 auto;

        .hero {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .image-container {
                width: 43%;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .about-me {
                width: 60%;
                margin-top: 100px;
                padding: 20px;
            }

            .icons {
                display: none;
            }
        }

        .projects {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            >h2 {
                width: 100%;
            }

            article {
                max-width: 300px;
            }

        }
    }

    footer {
        img {
            max-width: 500px;
        }
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 1300px;
        margin: 0 auto;

        .hero {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .image-container {
                width: min(43%, 400px);

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .about-me {
                width: 60%;
                margin-top: 100px;
                padding: 20px;
            }

            .icons {
                display: none;
            }
        }

        .projects {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            >h2 {
                width: 100%;
            }


        }
    }

    footer {
        img {
            max-width: 500px;
        }
    }
}
