<!DOCTYPE html>
<html>

<head>
    <title>
        Inventory
    </title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <nav>
    </nav>

    <main>
        <%- include(view) %>
    </main>

    <footer>
    </footer>
</body>

</html>
