<div class="overflow-x-auto p-4">
    <% categories.forEach(category => { %>
        <div class="space-y-4 lg:space-y-0 border-b">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 items-center p-2 
                bg-bg-alt rounded shadow hover:bg-overlay transition">
                <div class="grid grid-cols-2 gap-2">
                    <div class="text-text font-medium"> 
                        <p class="text-text-muted text-xs">Name</p>
                        <a href="/categories/<%= category.id %>">
                            <%= category.name %> 
                        </a>
                    </div>
                    <div class="text-muted text-sm">
                        <p class="text-text-muted text-xs">Updated</p>
                        <%= category.formattedDate %>
                    </div>
                </div>
            </div> 
        </div>
    <% }); %>
</div>

