<div class="overflow-x-auto p-4">
    <% companies.forEach(company => { %>
        <div class="space-y-4 lg:space-y-0 border-b">
            <div class="grid grid-cols-2 gap-2 items-center p-2 
                bg-bg-alt rounded shadow hover:bg-overlay transition">
                <div class="text-text font-medium"> 
                    <p class="text-text-muted text-xs">Name</p>
                    <a href="/companies/<%= company.id %>"
                    class="hover:underline">
                        <%= company.name %> 
                    </a>
                </div>
                <div class="text-muted text-sm">
                    <p class="text-text-muted text-xs">Updated</p>
                    <%= company.formattedDate %>
                </div>
            </div> 
        </div>
    <% }); %>
</div>

