* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --background: #F5F5F5;
    --card-bg: #FFFFFF;
    --primary: #424242;
    --text-dark: #212121;
    --text-light: #212121;
    --accent: #64B5F6;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
}

h1 {
    color: var(--primary);
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 2px solid var(--primary);
    border-radius: 5px;
    outline: none;
}

button {
    opacity: 0.9;
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9;
    background-color: var(--primary);
}

.weather-card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#weather-icon {
    width: 80px;
    height: 80px;
}

h2 {
    color: var(--text-dark);
    margin: 10px 0;
}

p {
    color: var(--text-light);
    font-size: 18px;
    margin: 5px 0;
}
