@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 400px;
}

@theme {
    --color-primary: #221ac7;
    --color-secondary: #c4b9f8;
    --color-accent: #262267;
    --color-text: #040316;
    --color-background: #eeeef6;
    --color-surface: #e7e7ee;
}

@layer base {
    @variant dark {
        --color-primary: #4138e5;
        --color-secondary: #110746;
        --color-accent: #9b98dd;
        --color-text: #eae9fc;
        --color-background: #090911;
        --color-surface: #111118;
    }
}
