<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <nav class="blue lighten-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo hide-on-small-only left" style="padding-left: 5px;">Mini Messages</a>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger hide-on-med-and-up"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-small-only">
                <li><a href="/">Home</a></li>
                <li><a href="/new">New</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/new">New</a></li>
    </ul>

    <main class="container col s12" style="margin-top: 2rem;">
        <%- include(view) %>
    </main>


    <footer class="page-footer blue lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Mini Messagin App</h5>
                    <p>Created by M. F.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © <%= getCurrentYear() %> Copyright M. F.
            </div>
        </div>
    </footer>

    <script src="/materialize.min.js"></script>
    <script>M.AutoInit();</script>
</body>

</html>
